<%= form_tag contacts_index_path, method: "get" do %>
  
  
  <%= select_tag :category, options_for_select( ["name","company", "city", "country"] , params[:category] )   %>
  
  <%= text_field_tag :search_key, params[:search_key]  %>
  
  <%= submit_tag "search", name: nil %>
  
  <span><i>(search with empty string to get the list of all contacts)</i></span>

<% end %>