
<div id="search_panel">
  <h2>Search</h2>
  
  <%= render "search_form" %>

</div>

<br>


<div id="display_panel">
  <h2>Contacts (<%= @contacts.length %>)</h2>
  
  <table>
    
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Company</th>
        <th>City</th>
        <th>Country</th>
        <th>Job History</th>
      </tr>
    </thead>
    
    
    
    <tbody>
      
      <% for contact in @contacts %>
      
        <tr>
          <td><%= contact.name %></td>
          <td><%= contact.email %></td>
          <td><%= contact.company %></td>
          <td><%= contact.city %></td>
          <td><%= contact.country %></td>
          
          <td> <!--- job history column --->
            <% if !contact.job_histories.nil? and !contact.job_histories.empty? %>
            <span><%= contact.job_histories[0].company %></span>
              
              <% for prev_comp in contact.job_histories[1..-1] %>
                <span>, <%= prev_comp.company %></span>
              <% end %>
            
            <% end %>
          </td> <!--- job history column END --->
          
        </tr>
      
      <% end %>
      
    </tbody>
    
    
  </table>
  
</div>




