// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}